{% extends "base.jinja" %}
{% block content %}
    <h3>
    This application is dedicated to voting and 
    deciding on what movie to watch on a friday.
    </h3>
    <p>
    For the past four years, our family tradition has been to watch a movie
    every friday evening after a delicious home-cooked meal. While many of us have
    plenty of movie titles to suggest, we don't always agree. Some weeks no one can
    decide on just what to watch. I developed this application in hopes of resolving
    this issue. 
    </p>
    <p>
    I intend for every family member to be given the chance to make an account and 
    let their voice be heard on just what exactly they want to watch every friday 
    evening. On the home page will be displayed the current highest vote as well 
    as the choices of the week.
    </p>
    <p>
    Users will have to set up an account in order to vote. An account will also be 
    needed to submit an option into said poll. Every Saturday at 12:00AM, the poll
    will be reset and will display the victorious movie for the following week.
    The chosen movie will also be added into a total list of films watched displayed
    with the date they were watched.
    </p>
{% endblock content %}