<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Let's Watch</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
</head>
<body>
    <nav>
        <ul>
            <li><a href="{{ url_for('home_page') }}">Home</a></li>
            <li><a href="{{ url_for('suggested') }}">Suggested Movies</a></li>
            <li><a href="{{ url_for('sign_in') }}">Sign In</a></li>
            <li><a href="{{ url_for('register') }}">Register</a></li>
            <li><a href="{{ url_for('about') }}">About</a></li>
        </ul>
    </nav>
    {% for message in get_flashed_messages() %}
        <p style="color: red;">{{ message }}</p>
    {% endfor %}
    <h1>Let's Watch..</h1>
    {% block content %}
    {% endblock content %}
</body>
</html>