{% extends "base.jinja" %}
{% block content %}
    <p>What are we watching friday?</p>
    {% if chosen %}
        <p>{{ chosen }}</p>
    {% else %}
        <h5>Undecided</h5>
    {% endif %}
    <br>
    {% include "user_submit_suggest.jinja" %}
    
{% endblock content %}

