{% extends "base.jinja" %}
{% block content %}
    <p>What are we watching friday?
    {% if chosen %}
        <span>  {{ chosen }}  </span>
    {% else %}
        <h5>Undecided</h5>
    {% endif %}
    <br>
    {% include "user_submit_suggest.jinja" %}
    </p>
    <p>
    {% include "recently_suggested.jinja" %}
    </p>
{% endblock content %}