{% block content %}
    <h3>All suggested movies</h3>
    {% for movie in movie_list %}
        <h5>
        {{ movie.title }} ({{ movie.release_year }}) || recommended by {{movie.author.username}}
        <span> 
        </h5>
        <h6>"{{ movie.description }}" -<a href="/social/profile/{{movie.author.username}}">{{ movie.author.username }}</a></h6>
    {% endfor %}
{% endblock content %}