{% block sumbit %}
    <form action="" method="POST" novalidate>
        {{ form.hidden_tag() }}
        <p>
            {{ form.title.label }} <br>
            {{ form.title(size=32) }}
        </p>
        <p>
            {{ form.year.label }} <br>
            {{ form.year(size=4) }}
        </p>
        <p>
            {{ form.description.label }} <br>
            {{ form.description(size=64) }}
        </p>
        <p>
            {{ form.submit() }}
        </p>
    </form>
{% endblock sumbit %}